* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.indx {
  background-color: #222831;
  color: #FFF0F5;
}

.bg {
  background-color: #FFF0F5;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background: rgba(46, 177, 144, 0.678);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100vh;
}

.container .item1 {
  margin: 1rem 0;
  font-size: 4rem;
  color: #25C09B;
  font-weight: 500;
}

.container .item2 {
  font-size: 8rem;
  font-weight: 700;
  color: #FFF0F5;
}

.container .item3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .item3 a {
  position: absolute;
  width: 242px;
  height: 64px;
  left: 839px;
  top: 670px;
  background: #222831;
  border-radius: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  border: solid 1.5px #12F5BF;
  color: #BDBDBD;
  text-decoration: none;
  padding-top: 1.2rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.container .item3 a:hover {
  background: #12F5BF;
  border: solid 1.5px #12F5BF;
  color: #393E46;
  -webkit-box-shadow: 0px 20px 40px rgba(41, 161, 156, 0.1);
          box-shadow: 0px 20px 40px rgba(41, 161, 156, 0.1);
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100vh;
  background-color: #FFF0F5;
  color: #393E46;
}

.container2 .item1 {
  font-size: 6rem;
  font-weight: 600;
  color: #393E46;
  margin: 5rem 0 2rem 0;
}

.container2 .item2 {
  font-size: 2rem;
  font-weight: 500;
  color: #25C09B;
}

.navbar {
  position: fixed;
  background-color: #393E46;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #BDBDBD;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #222831;
  color: #BDBDBD;
}

.link-text {
  display: none;
  margin-left: 1.5rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #12F5BF;
}

.fa-secondary {
  color: #25C09B;
}

.fa-primary,
.fa-secondary {
  -webkit-transition: 600ms;
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #FFF0F5;
  background: #222831;
  font-size: 1.5rem;
  letter-spacing: 6px;
  width: 100%;
}

.logo svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.navbar:hover .logo svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */