//*-------------------VARIABLES------------------------*//
$main-gray: #222831;
$secondary-gray: #393E46;
$light-green: #12F5BF;
$dark-green: #25C09B;
$light-gray: #BDBDBD;
$white: #FFF0F5;

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $main-gray;
    color: $white;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 8rem;
    font-weight: 700;
    color: $white;
    padding-top: 400px;
}

//*-------------------NAVBAR------------------------*//

.navbar {
    position: fixed;
    background-color: $secondary-gray;
    transition: width 600ms ease;
    
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $light-gray;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $main-gray;
    color: $light-gray;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .fa-primary {
    color: $light-green;
  }
  
  .fa-secondary {
    color: $dark-green;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: 600ms;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $white;
    background: $main-gray;
    font-size: 1.5rem;
    letter-spacing: 0.1ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: 600ms;
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: 600ms;
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }


  /* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }