//*-------------------VARIABLES------------------------*//
$main-gray: #222831;
$secondary-gray: #393E46;
$light-green: #12F5BF;
$dark-green: #25C09B;
$light-gray: #BDBDBD;
$white: #FFF0F5;

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

//*-----------BODY COLORS-------------*//
.indx{
    background-color: $main-gray;
    color: $white;
}
.bg{
    background-color: $white;
}
    


//*-----------------  SCROLL BAR----------------------*//

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background: rgba(46, 177, 144, 0.678);
}

main {
    margin-left: 5rem;
    padding: 1rem;
    //btn
    
    
}



.main {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
//     font-size: 8rem;
//     font-weight: 700;
//     color: $white;
//     padding-top: 400px;
}

.container{
  //border: 1px solid #FFF0F5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;
  align-content: space-around;
  height: 100vh;
  //width: 100vh;
  .item1{
    margin: 1rem 0;
    font-size: 4rem;
    color: #25C09B;
    font-weight: 500;
    // .sub{
    //   display: flex;
    //   flex-direction: column;
    //   color: #25C09B;
    //   font-size: 4rem;
    //   font-weight: 500;
    // }
  }
  .item2{
    font-size: 8rem;
    font-weight: 700;
    color: $white;
  }
  .item3{
    align-self: center;
    a {
      position: absolute;
      width: 242px;
      height: 64px;
      left: 839px;
      top: 670px;
      background: $main-gray;
      border-radius: 40px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      border: solid 1.5px $light-green;
      color: $light-gray;
      text-decoration: none;
      padding-top: 1.2rem;
      transition: all ease-in-out 0.2s;
      &:hover {
        background: $light-green;
        border: solid 1.5px $light-green; 
        color: $secondary-gray;
        box-shadow: 0px 20px 40px rgba(41, 161, 156, 0.1);
      }
    }
  }
}  

//*-------------------BG COLOR------------------------*//
.container2{
  //border: 1px solid #FFF0F5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 100vh;
  background-color: $white;
  color: $secondary-gray;
  //width: 100vh;
  .item1{
    font-size: 6rem;
    font-weight: 600;
    color: $secondary-gray;
    margin: 5rem 0 2rem 0;
  }
  .item2{
    font-size: 2rem;
    font-weight: 500;
    color: $dark-green;
  }
} 
//*-------------------NAVBAR------------------------*//

.navbar {
    position: fixed;
    background-color: $secondary-gray;
    transition: width 600ms ease;
    
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $light-gray;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $main-gray;
    color: $light-gray;
  }

  .link-text {
    display: none;
    margin-left: 1.5rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .fa-primary {
    color: $light-green;
  }
  
  .fa-secondary {
    color: $dark-green;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: 600ms;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $white;
    background: $main-gray;
    font-size: 1.5rem;
    letter-spacing: 6px;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: 600ms;
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: 600ms;
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  /* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }